
.home {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.home-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px 10px;
    height: auto;
    background-image: linear-gradient(to right, rgba(246, 211, 101, 1), rgba( 253, 160, 133,1));
    min-height: 100vh; 
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0px;
    min-height: 20vh;
    width: 100%;
    margin: 0px 10px;
    padding-left: 10px;
    padding-right: 0.5rem;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgba(246, 211, 101, 1), rgba( 253, 160, 133,1));
}

.username {
    display: flex;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 15px;
}

.logout {
    display: flex;
}

.logout-button {
    border: none;
    background-color: transparent;
}

.logout-button:hover {
    cursor: pointer;
}

h2 {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

.logout-icon {
    color: white;
}

.home-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.table {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-right: 15px;
    min-width: 200px;
}

.todo-title {
    color: white;
    font-size: 1.5rem;
}

.userInput {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    max-width: 600px;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 1rem;
    padding-right: 20px;
}

.todo-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    padding: 0rem 1rem;
    height: 52px;
}

.todo-input:focus {
    outline: none;
}

.home-form {
    width: 100%;
}

.add-button {
    display: flex;
    background-color: white;
    border: none;
    color: white;
    padding: 0;
}

.add-button:hover {
    cursor: pointer;
}

.add-plus {
    background-color: white;
    padding: 0.5rem;
    height: 52px;
    box-sizing: border-box;
}

.add-plus-hover {
    background-color: #ff6f47;
}

.fa-plus {
    background-color: #ff6f47;
    border-radius: 5px;
    color: white;
}

.fa-plus:before {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    font-size: 1.7rem;
}

.fa-plus-hover {
    background-color: white;
    color:#ff6f47;
}

.filtered-todos {
    display: flex;
    padding-left: 1.1rem;
    height: 52px;
}

