
.filtered-todosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.custom-select {
    margin-left: 20px;
    box-sizing: border-box;
}

.filter-todo {
    padding: 17px;
}

.select {
    display: flex;
    position: relative;
    overflow: hidden;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    background-image: none;
    color: #ff6f47;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    width: 13rem;
}
/* Arrow */
.select::after {
/* /25BC will add an arrow down icon */
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px;
    background: #ff6f47;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background-color: white;
    color: #ff6f47;
}